body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 400px;
}

header h1 {
    color:  #ff4500; /* Pastel orange */
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}

.form-group label {
    margin-bottom: 5px;
    display: block;
    color: #666;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    background-color: #ff4500; /* Pastel orange */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    margin: 20px 0;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.3s;
}

button:hover {
    background-color:#FFA07A ; /* Darker pastel orange */
    transform: scale(1.05);
}

p {
    margin-top: 20px;
}

a {
    color: #FFA07A; /* Pastel orange */
    text-decoration: none;
    transition: color 0.3s;
}

a:hover {
    color: #FF8C00; /* Darker pastel orange */
}


.back-btn {
    position: absolute;
    top: 12px;
    left: 10px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #ff4500;
    font-size: 22px;
  }
  
  .back-btn:hover {
    color: #FFA07A;
  }
  
  .circle-arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background-color: #ff4500;
    color: #fff;
    border-radius: 50%;
    font-size: 18px;
    margin-right: 8px;
  }
  
  .back-btn:hover .circle-arrow {
    background-color: #FFA07A;
  }

 