body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 500px;
}

header h1 {
    color: #FFA07A; /* Pastel orange */
    margin-bottom: 10px;
}

header p {
    color: #666;
    font-size: 1em;
    margin-bottom: 20px;
}

button {
    background-color: #FFA07A; /* Pastel orange */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    margin: 20px 0;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.3s;
}

/* Target the anchor element inside the button */
button a {
    color: inherit; /* Inherit the color from the button */
    text-decoration: none;
}

/* Style the anchor element on hover */



button:hover {
    background-color: #FF8C00; /* Darker pastel orange */
    transform: scale(1.05);
}

.instructions {
    margin: 20px 0;
    font-size: 0.9em;
    color: #666;
}

footer {
    margin-top: 20px;
}

.back-button {
    display: inline-block;
    margin-top: 10px;
    color: #FFA07A; /* Pastel orange */
    text-decoration: none;
    font-size: 1em;
    transition: color 0.3s;
}

.back-button:hover {
    color: #FF8C00; /* Darker pastel orange */
}

#qrcode {
    margin-top: 20px;
}